# Backend API (required)
NEXT_PUBLIC_API_URL=https://api.melvin.my.id

# CKEditor Image Upload (nanti diisi kalau endpoint sudah siap)
# NEXT_PUBLIC_UPLOAD_URL=

# App URL (opsional)
# NEXT_PUBLIC_APP_URL=http://localhost:3000
